.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-top: 20px;
}

/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--lightBlue);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}

.portfolio img {
  width: 19rem;
  height: 10rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

.links {
  display: none;
  position: absolute;
  top: 50%;
  left: 42.5%;
  width: 78%;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 19px;
  justify-content: center;
  align-items: center;
  
}

.portfolio-slider .swiper-slide:hover .links {
  display: flex;
  justify-content: space-evenly;
}

.links a {
  text-decoration: none;
  margin: 0;
}


@media screen and (max-width: 1030px) {
  .portfolio-slider {
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
  }

  .links {
    display: none;
    position: absolute;
    top: 50%;
    left: 57%;
    width: 100%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 19px;
    justify-content: center;
    align-items: center;
    
  }
  
  .portfolio-slider .swiper-slide:hover .links {
    display: flex;
    justify-content: space-evenly;
  }
  
  .links a {
    text-decoration: none;
    margin: 0;
  }

}